Repository nstarman/trackstream, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, Notebooks, utils, Docs

spline with units
  pyproject.toml
  trackstream/utils/spline.py
  trackstream/utils/tests/__init__.py
  trackstream/utils/tests/test_spline.py
Labels: utils

document which spline
  CHANGES.rst
Labels: none

changelog
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGES.rst
Labels: GitHub

lower tolerance for python 3.7
  trackstream/utils/tests/test_spline.py
Labels: utils

more spline stuff
  docs/conf.py
  docs/trackstream/index.rst
  docs/trackstream/utils/index.rst
  trackstream/conftest.py
  trackstream/utils/__init__.py
  trackstream/utils/spline.py
  trackstream/utils/tests/test_spline.py
Labels: utils, Docs

line length
  trackstream/utils/spline.py
Labels: utils

spline with units (#24)
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGES.rst
  docs/conf.py
  docs/trackstream/index.rst
  docs/trackstream/utils/index.rst
  pyproject.toml
  trackstream/conftest.py
  trackstream/utils/spline.py
  trackstream/utils/tests/__init__.py
  trackstream/utils/tests/test_spline.py
Labels: GitHub, utils, Docs

.github/labeler.yml:

# General Labels
GitHub:
  - .github/**/*

Notebooks:
  - notebooks/**/*

# Package Labels
utils:
  - trackstream/utils/**/*


# Docs Labels
Docs:
  - docs/**/*
